bidict==0.21.2
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-Cors==3.0.10
Flask-SocketIO==5.1.0
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
PyJWT==1.7.1
python-decouple==3.4
python-engineio==4.2.0
python-socketio==5.3.0
pytz==2021.1
requests==2.26.0
six==1.16.0
twilio==6.62.1
urllib3==1.26.6
Werkzeug==2.0.1
